body {
  background-color: #282c34;
  color: white;
  padding: 30px;
  font-family: Arial;
  text-align: center;
  font-size: calc(10px + 1vmin);
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
